*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#F8F1F1;
    font-family: 'Source Sans Pro' , sans-serif;
}

.header{
    display: flex;
    padding: 0.3% 4%;
    align-items: center;
    justify-content: space-between;
    background-color: #6B8E8B;
}

.profile{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 3%;
}

.profile p{
    font-size: 16px;
    font-weight: 700;
}


.nav-list{
    display: flex;
    gap: 15px;
}

.nav-list > li{
    list-style-type: none;
    background-color: white;
    padding: 4px 0px;
    width: 85px;
    text-align: center;
    border-radius: 5px;
}

.nav-list li a{
    text-decoration: none;
    color: black;
    display: block;
    
}
  
nav ul li.active {
    background-color: black;
}

nav ul li.active a {
    color: white;
}

main h1{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
    font-size: 40px;
    font-family: 'Merriweather';
}

.about-contents{
        display: grid;
        grid-template-columns: 1fr 2fr; 
        gap: 10vw;
        margin: 15px 70px;
}
.left{
    margin-left: 30px;
}
.left img{
    width: 100%;
    border-radius: 12px;
}

.left p{
    margin-bottom: 10px;
    margin-left: 25%;
    font-size: 16px;
    font-weight:600;
}

.right{
    background-color: #E8F5E9;
    border: 2px solid #A5D6A7;
    border-radius: 15px;
    width: 800px;
    height: 700px ;
    margin-left: 50px;
    margin-top: 27px;
}

.about-article{
    width: 90%;
    margin: 10px;
    margin-left: 30px;
}
.right h2{
    font-size: 28px;
    font-family: 'Merriweather';
    margin-bottom: 15px;
}

.right h3{
    font-size: 24px;
    font-family: 'Merriweather';
    margin-bottom: 10px;
}

.right p{
    font-size: 14px;
    margin-bottom: 10px ;
    margin-top: 20px;
    line-height: 20px;
}

.cv a{
    color: #0E6BA8;
    font-weight: 600;
}

.quotes-section,
.section-title{
    margin-top: 15px;
}

.facts-list,
.quotes-list{
    font-size: 14px;
    line-height: 25px;
    margin-left: 25px;
}

footer{
    width:300px;
    height: 48px;
    background-color:#6B8E8B;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    border-radius: 25px;
    margin-bottom: 25px;
}

.hamburger{
    display: none; 
    cursor: pointer;
    font-size: 30px;
  }


.nav-list.hidden {
    display: none;
}

@media only screen and (max-width: 935px) and (orientation: landscape) {
    .profile {
        gap: 4%; 
    }

    .profile p {
        font-size: 14px; 
    }

    .profile img {
        width: 40px;
        margin-top: 3px;
    }

    .nav-list {
        justify-content: center;  
        gap: 15px;                   
        background-color: #6B8E8B;
        position: absolute;
        right: 0;
        top: 52px;
        width: 100%;                
        padding: 15px 0;
        display: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .nav-list.hidden {
        display: flex;
    }

    .hamburger {
        display: block; 
        position: absolute;
        right: 28px;
        padding: 10px ;
        font-size: 25px;  
    }

    .about-contents {
        display: flex;
        flex-direction: row;
        gap: 1vw;
        margin: 25px;
    }

    main h1{
        margin-bottom: 10px;
        margin-top: 15px;
        font-size: 30px;
        font-family: 'Merriweather';
    }

 
    .left {
        width: 40%;
        margin-left: 0;  
    }

    .left img {
        border-radius: 5px;
    }

    .right {
        width: 80%;
        background: none;
        border: none;
        margin-top: 14px;
        margin-bottom: 0;
    }

    .about-article {
        display: flex;
        flex-direction: column;
        gap:30px;
    }

    .one, .two {
        width: 100%; 
        background-color: #E8F5E9;
        border: 2px solid #A5D6A7;
        border-radius: 5px;
        padding: 12px;  
    }

    .right h2 {
        font-size: 20px; 
        margin-bottom: 2px;
    }

    .right h3 {
        font-size: 18px;  
        margin-bottom: 8px;
    }

    .right p {
        font-size: 12px; 
        margin-bottom: 3px ;
        margin-top: 10px;
        line-height: 15px;
    }

    .quotes-list, .facts-list {
        font-size: 12px; 
        margin-bottom: 3px ;
        margin-top: 10px;
        line-height: 15px;
        margin-left: 20px;
    }

    .about-contents {
        margin-bottom: 0;
    }
    
    footer {
        gap: 5%;  
        width: 25%; 
        margin-top: 0;
        margin-bottom: 20px;

    }
}

@media only screen and (max-width: 480px) and (orientation: portrait) {

    .header {
        display: flex;
        align-items: center;
        padding: 4px 25px;
        justify-content: space-between;
        position: relative;
    }

    .profile {
        gap: 5px; 
    }

    .profile img{
        width: 40px;
    }
    
    .profile p{
        font-size: 13px;
    }

    .hamburger {
        display: block; 
        position: absolute;
        right: 28px;
        top: 10px;
    }

    .nav-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #6B8E8B;
        position: absolute;
        top: 52.5px;
        right: 0;
        width: 100%;
        padding: 20px 0;
        display: none; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .nav-list.hidden {
        display: flex; 
    }

    .about-contents {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 10px;
    }

    main h1 {
        font-size: 30px;
        text-align: center;
        margin: 10px 0;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .left p{
        margin-bottom: 5px;
        margin-left: 0;
        font-size: 12px;
        font-weight:600;
    }

    .left img {
        width: 90%;
        max-width: 350px;
        border-radius: 5px;
    }

    .right {
        width: 100%;
        background: none;
        border: none;
        margin: 0;
    }

    .about-article {
        display: flex;
        flex-direction: column;
        gap: 3vh;
        align-items: center;
    }

    .one, .two {
        width: 95%;
        background-color: #E8F5E9;
        border: 2px solid #A5D6A7;
        border-radius: 5px;
        padding: 15px;
        margin-right: 18px;
    }

    .right h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .right h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .right p, .quotes-list, .facts-list {
        font-size: 13px;
        line-height: 17px;
        margin-top: 5px;
    }

    .quotes-list, .facts-list {
        margin-left: 5px;
    }

 
    footer {
        width: 60%; 
        padding: 1px; 
        gap: 5%; 
        border-radius: 25px;
        margin-top: 12vh;
    }
}


@media only screen and  (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .header {
        padding: 3px 25px;
        justify-content: space-between;
        align-items: center;
    }

    .profile {
        gap: 4%;
    }

    .profile p {
        font-size: 15px;
    }

    .profile img {
        width: 45px;
        margin-top: 3px;
    }

    .about-contents {
        display: flex;
        flex-direction: row;
        margin: 10px 20px;
        gap: 0;
        position: relative;
    }

    main h1{
        margin-bottom: 10px;
        margin-top: 15px;
        font-size: 36px;
        font-family: 'Merriweather';
    }

 
    .left {
        width: 45%;
        margin-left: 20px;  
    }

    .left img {
        border-radius: 15px;
    }


    .right {
        width: 55%;
        background: none;
        border: none;
        margin-top: 14px;
        margin-bottom: 0;
    }

    .about-article {
        display: flex;
        flex-wrap: wrap;
        gap:30px;
    }

    .one, .two {
      
        background-color: #E8F5E9;
        border: 2px solid #A5D6A7;
        border-radius: 10px;
        padding: 12px;
    }

    .one{
        height: 50%;
        width: 100%; 
    }

    .two{
        height: 43%;
        position: absolute;
        left: 2%;
        margin-top: 43%;
        width:40%;
    }
    .right h2 {
        font-size: 24px; 
        margin-bottom: 2px;
    }

    .right h3 {
        font-size: 20px;  
        margin-bottom: 8px;
    }

    .right p {
        font-size: 14px; 
        margin-bottom: 3px ;
        margin-top: 10px;
        line-height: 18px;
    }

    .quotes-list, .facts-list {
        font-size: 14px; 
        margin-bottom: 3px ;
        margin-top: 10px;
        line-height: 18px;
        margin-left: 20px;
    }

    .about-contents {
        margin-bottom: 0;
    }


    footer {
        width: 25%;
        padding: 2px;
        gap: 4%;
        border-radius: 35px;
        margin-top: 100px;
    }

}



@media only screen and (min-width: 768px) and (max-width: 1400px) and (orientation: landscape) {
    .header {
        padding: 3px 25px;
        justify-content: space-between;
        align-items: center;
    }

    .profile {
        gap: 4%;
    }

    .profile p {
        font-size: 15px;
    }

    .profile img {
        width: 45px;
        margin-top: 3px;
    }
    .about-contents {
        display: flex;
        flex-direction: row;
        gap: 1vw;
        margin: 25px;
    }

    main h1{
        margin-bottom: 10px;
        margin-top: 15px;
        font-size: 36px;
        font-family: 'Merriweather';
    }

 
    .left {
        width: 30%;
        margin-left: 30px;  
    }

    .left img {
        width: 100%;
        border-radius: 15px;
    }

    .right {
        width: 65%;
        margin-top: 14px;
        margin-bottom: 0;
    }

    footer {
        width: 20%;
        padding:5px;
        gap: 4%;
        border-radius: 35px;
    }
}










