*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#F8F1F1;
    font-family: 'Source Sans Pro' , sans-serif;
}

.header{
    display: flex;
    padding: 0.3% 4%;
    align-items: center;
    justify-content: space-between;
    background-color: #6B8E8B;
}

.profile{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 3%;
}

.profile p{
    font-size: 16px;
    font-weight: 700;
}


.nav-list{
    display: flex;
    gap: 15px;
}

.nav-list li{
    list-style-type: none;
    background-color: white;
    padding: 4px 0px;
    width: 85px;
    text-align: center;
    border-radius: 5px;
}
.nav-list li a{
    text-decoration: none;
    color: black;
}
  
nav ul li.active {
    background-color: black;
}

nav ul li.active a {
    color: white;
}

main{
    margin: 10px 40px;
}

.top{
    text-align: center;
}

.top h1{
    text-align: center;
    font-family: 'Merriweather';
    font-size: 40px;
    margin-bottom: 5px;
}
.top p{
    font-size: 18px;
}
.flex-body{
    display: flex;
    gap: 10%;
    margin-top: 35px;
}

.blogs{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 47vh 65vh 47vh;
    width:45%;
}

.music-blog{
    background-color: #E8F5E9;
    border: 2px solid #A5D6A7;
    padding: 20px; 
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left: 70px;
}

.blogs h2 {
    font-family: 'Merriweather'; 
    font-size: 28px; 
    margin-bottom: 10px;
    text-align: center;
}

.blogs p {
    font-size: 14px;
}

.blogs figure {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
    margin-top: 20px;
}

.music-blog img {
    width: 270px;
    height: 130px;
    border-radius: 15px; 
}

.music-blog audio {
    width: 55%; 
    height: 45px;
    border-radius: 25px; 
    border: 1px solid black;
    background-color: #E8F5E9; 
}

figcaption{
    font-size: 12px;
}

.vacation-blog{
    background-color: #E8F5E9;
    border: 2px solid #A5D6A7;
    padding: 20px; 
    border-radius: 15px;
    margin-bottom: 20px; 
    margin-left: 70px;
}

.vacation-blog video {
    width: 53%;
    border-radius:20px;
    margin-bottom: 15px;
}

.vacation-blog img{
    width: 45%;
    border-radius:20px;
    height:150px;
    margin-bottom: 15px;
}

.mulatu-blog{
    background-color: #E8F5E9;
    border: 2px solid #A5D6A7;
    padding: 20px; 
    border-radius: 15px;
    margin-bottom: 20px; 
    margin-left: 70px;
}

.mulatu-blog img{
    width: 45%;
    border-radius: 20px;
}

.aside-blog{
    width:380px;
    background-color: #E8F5E9;
    border: 2px solid #A5D6A7;
    padding: 20px; 
    border-radius: 15px;
    height:60vh;
    margin-left: 50px;
}

.aside-blog h3{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
}

.p-1-aside{
    margin-top: 30px;
    margin-bottom: 16px;
    font-size: 20px;
}

.p-1-aside > .lists a{
    color:#0E6BA8;
    text-decoration: underline;
    font-weight: 900;
    font-size: 18px;
}

.p-1-aside > .lists {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.p-2-aside{
    margin-top: 50px;
    display: flex;
    gap:10px;
    line-height: 25px;
}

.p-2-aside img{
    width: 60px;
}

footer{
    width:300px;
    height: 48px;
    background-color:#6B8E8B;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    border-radius: 25px;
    margin-bottom: 25px;
}

.hamburger{
    display: none; 
    cursor: pointer;
    font-size: 30px;
  }


.nav-list.hidden {
    display: none;
}



@media only screen and (max-width: 935px) and (orientation: landscape) {
    .header {
        padding: 3px 25px;
        justify-content: space-between;
        align-items: center;
    }

    .profile {
        gap: 4%; 
    }

    .profile p {
        font-size: 14px; 
    }

    .profile img {
        width: 40px;
        margin-top: 3px;
    }

    .nav-list {
        justify-content: center;  
        gap: 15px;                   
        background-color: #6B8E8B;
        position: absolute;
        right: 0;
        top: 54px;
        width: 100%;                
        padding: 15px 0;
        display: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .nav-list.hidden {
        display: flex;
    }

    .hamburger {
        display: block; 
        position: absolute;
        right: 28px;
        padding: 10px ;
        font-size: 25px;  
    }

    .top h1{
        text-align: center;
        font-family: 'Merriweather';
        font-size:30px;
        margin-top: 25px;
    }
    .top p{
        font-size: 16px;
        margin-top: 10px;
    }
    main{
        margin: 0;
    }

    .blogs h2 {
        font-family: 'Merriweather'; 
        font-size: 20px; 
        margin-bottom: 10px;
        text-align: center;
    }

    .aside-blog h3{
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
        font-size: 18px;
    }
    

    .flex-body{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2vw;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .blogs{
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 1.5vw;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .aside-blog{
        height: auto;
        margin-left: 50px;
        padding: 25px; 
        width: 80%;
        min-width: 52%;
        margin-top: 12%;
    }

    .vacation-blog video {
        width: 40%;
        border-radius:20px;
        margin-bottom: 15px;
    }

    .vacation-blog img{
        width: 30%;
        border-radius:20px;
        height:150px;
        margin-bottom: 15px;
    }


    .mulatu-blog img{
        width: 30%;
        border-radius: 20px;
    }

    .vacation-blog,
    .music-blog,
    .mulatu-blog,
    .aside-blog{
        margin-left: 0;
    }


   
    footer {
        width: 30%;
        padding: 2px;
        gap: 4%; 
        border-radius: 35px;
    }

}



@media only screen and (max-width: 480px) and (orientation: portrait) {
    .header {
        display: flex;
        align-items: center;
        padding: 4px 25px;
        justify-content: space-between;
        position: relative;
    }

    .profile {
        gap: 5px; 
    }

    .profile img{
        width: 40px;
    }
    
    .profile p{
        font-size: 13px;
    }

    .hamburger {
        display: block; 
        position: absolute;
        right: 28px;
        top: 10px;
    }

    .nav-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #6B8E8B;
        position: absolute;
        top: 53px;
        right: 0;
        width: 100%;
        padding: 20px 0;
        display: none; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .nav-list.hidden {
        display: flex; 
    }


    .top h1{
        text-align: center;
        font-family: 'Merriweather';
        font-size:30px;
        margin-top: 25px;
    }

    .blogs h2 {
        font-family: 'Merriweather'; 
        font-size: 20px; 
        margin-bottom: 10px;
        text-align: center;
    }

    .aside-blog h3{
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
        font-size: 18px;
    }
    .top p{
        font-size: 14px;
        margin:10px
    }
    main{
        margin: 0;
    }

    .flex-body{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2vw;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .blogs{
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 2vw;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .aside-blog{
        height: auto;
        margin-left: 50px;
        padding: 20px; 
        width: 75%;
    }

    .vacation-blog video {
        width: 90%;
        border-radius:20px;
        margin-bottom: 15px;
    }

    .vacation-blog img{
        width: 80%;
        border-radius:20px;
        height:150px;
        margin-bottom: 15px;
    }


    .mulatu-blog img{
        width: 80%;
        border-radius: 20px;
    }

    .vacation-blog,
    .music-blog,
    .mulatu-blog,
    .aside-blog{
        margin-left: 0;
    }


    .music-blog audio {
        width: 95%; 
        height: 45px;
        border-radius: 25px; 
        border: 1px solid black;
        background-color: #E8F5E9; 
    }
    footer {
        width: 60%; 
        padding: 1px; 
        gap: 5%; 
        border-radius: 25px;
    }
   
}



@media only screen and  (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .header {
        padding: 3px 25px;
        justify-content: space-between;
        align-items: center;
    }

    .profile {
        gap: 4%;
    }

    .profile p {
        font-size: 15px;
    }

    .profile img {
        width: 45px;
        margin-top: 3px;
    }

    .top h1{
        text-align: center;
        font-family: 'Merriweather';
        font-size:36px;
        margin-top: 25px;
    }

    .blogs h2 {
        font-family: 'Merriweather'; 
        font-size: 24px; 
        margin-bottom: 10px;
        text-align: center;
    }

    .aside-blog h3{
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
        font-size: 20px;
    }
  
    main{
        margin: 0;
    }

    .flex-body{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2vw;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .blogs{
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 2vw;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .blogs p {
        font-size: 18px;
    }
    .aside-blog{
        height: auto;
        margin-left: 50px;
        padding: 20px; 
        width: 75%;
    }

    .vacation-blog video {
        width: 50%;
        border-radius:20px;
        margin-bottom: 15px;
    }

    .vacation-blog img{
        width: 40%;
        border-radius:20px;
        height:150px;
        margin-bottom: 15px;
    }


    .mulatu-blog img{
        width: 40%;
        border-radius: 20px;
    }

    .vacation-blog,
    .music-blog,
    .mulatu-blog,
    .aside-blog{
        margin-left: 0;
    }


    .music-blog audio {
        width: 55%; 
        height: 45px;
        border-radius: 25px; 
        border: 1px solid black;
        background-color: #E8F5E9; 
    }


    footer {
        width: 25%;
        padding: 2px;
        gap: 4%;
        border-radius: 35px;
        margin-top: 70px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1400px) and (orientation: landscape) {
    .header {
        padding: 3px 25px;
        justify-content: space-between;
        align-items: center;
    }

    .profile {
        gap: 4%;
    }

    .profile p {
        font-size: 15px;
    }

    .profile img {
        width: 45px;
        margin-top: 3px;
    }


    .aside-blog{
        width:40%;
        background-color: #E8F5E9;
        border: 2px solid #A5D6A7;
        padding: 20px; 
        border-radius: 15px;
        height:25%;
        margin-left: 50px;
    }


    .top h1{
        text-align: center;
        font-family: 'Merriweather';
        font-size:36px;
        margin-top: 25px;
    }

    .blogs h2 {
        font-family: 'Merriweather'; 
        font-size: 24px; 
        margin-bottom: 10px;
        text-align: center;
    }

    .aside-blog h3{
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
        font-size: 20px;
    }

    .blogs{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 32% 41% 34%;
        width:55%;
    }


    .vacation-blog video {
        width: 60%;
        border-radius:20px;
        margin-bottom: 15px;
    }

    .vacation-blog img{
        width: 50%;
        border-radius:20px;
        height:150px;
        margin-bottom: 15px;
    }


    .mulatu-blog img{
        width: 60%;
        border-radius: 20px;
    }



    .vacation-blog,
    .music-blog,
    .mulatu-blog,
    .aside-blog{
        margin-left: 0;

    }
    .music-blog audio {
        width: 75%; 
        height: 45px;
        border-radius: 25px; 
        border: 1px solid black;
        background-color: #E8F5E9; 
    }

    footer {
        width: 20%;
        padding:5px;
        gap: 4%;
        border-radius: 35px;
        margin-top: 100px;
    }

}