*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#F8F1F1;
    font-family: 'Source Sans Pro' , sans-serif;
}

.header{
    display: flex;
    padding: 0.3% 4%;
    align-items: center;
    justify-content: space-between;
    background-color: #6B8E8B;
}

.profile{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 3%;
}

.profile p{
    font-size: 16px;
    font-weight: 700;
}


.nav-list{
    display: flex;
    gap: 15px;
}

.nav-list li{
    list-style-type: none;
    background-color: white;
    padding: 4px 0px;
    width: 85px;
    text-align: center;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: black;
}


main {
    padding: 50px 15px;
}

.contact-form {
    max-width: 700px;
    margin: 0 auto;
}

.contact-form h1 {
    font-size: 40px;
    font-family: 'Merriweather';
    margin-bottom: 20px;
}

.contact-form p {
    font-size: 16px;
    margin-bottom: 30px;
}

.name-email {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}

.name-input,
.email-input {
    flex: 1;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 14px;
}

textarea {
    margin-top: 0;
    height: 90px;
}

button {
    background-color: #6B8E8B;
    font-size: 16px;
    color:white;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    height: 40px;
    width: 200px;
    font-weight: bold;
}

button:hover {
    background-color: #ff6347;
}

.submit-container {
    display: flex;
    justify-content: flex-end;
    width: 46.1vw;
    margin-top: 10px;
}



footer{
    width:300px;
    height: 48px;
    background-color:#6B8E8B;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    border-radius: 25px;
    margin-bottom: 25px;
}

.hamburger{
    display: none; 
    cursor: pointer;
    font-size: 30px;
  }


.nav-list.hidden {
    display: none;
}

@media only screen and (max-width: 935px) and (orientation: landscape) {
    .header {
        padding: 3px 25px;
        justify-content: space-between;
        align-items: center;
    }

    .profile {
        gap: 4%; 
    }

    .profile p {
        font-size: 14px; 
    }

    .profile img {
        width: 40px;
        margin-top: 3px;
    }

    .nav-list {
        justify-content: center;  
        gap: 15px;                   
        background-color: #6B8E8B;
        position: absolute;
        right: 0;
        top: 54px;
        width: 100%;                
        padding: 15px 0;
        display: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .nav-list.hidden {
        display: flex;
    }

    .hamburger {
        display: block; 
        position: absolute;
        right: 28px;
        padding: 10px ;
        font-size: 25px;  
    }

    .contact-form{
        width: 40%;
    }
    .name-email{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .submit-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        width: 110%;
    }

    footer {
        width: 30%;
        padding: 2px;
        gap: 4%; 
        border-radius: 35px;
    }
}
    
@media only screen and (max-width: 480px) and (orientation: portrait) {
    .header {
        display: flex;
        align-items: center;
        padding: 4px 25px;
        justify-content: space-between;
        position: relative;
    }

    .profile {
        gap: 5px; 
    }

    .profile img{
        width: 40px;
    }
    
    .profile p{
        font-size: 13px;
    }

    .hamburger {
        display: block; 
        position: absolute;
        right: 28px;
        top: 10px;
    }

    .nav-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #6B8E8B;
        position: absolute;
        top: 53px;
        right: 0;
        width: 100%;
        padding: 20px 0;
        display: none; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .nav-list.hidden {
        display: flex; 
    }

    .name-email{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .submit-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        width: 115%;
    }
    .contact-form{
        width: 65%;
    }

    footer {
        width: 60%; 
        padding: 1px; 
        gap: 5%; 
        border-radius: 25px;
    }
}


@media only screen and  (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .header {
        padding: 3px 25px;
        justify-content: space-between;
        align-items: center;
    }

    .profile {
        gap: 4%;
    }

    .profile p {
        font-size: 15px;
    }

    .profile img {
        width: 45px;
        margin-top: 3px;
    }

    footer {
        width: 25%;
        padding: 2px;
        gap: 4%;
        border-radius: 35px;
    }


    .contact-form {
        width: 55%;
        margin: 0 auto;
    }

    .contact-form h1 {
        font-size: 40px;
        font-family: 'Merriweather';
        margin-bottom: 20px;
    }

    .contact-form p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    

    .submit-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        width: 107%;
    }
}



@media only screen and (min-width: 768px) and (max-width: 1400px) and (orientation: landscape) {
    .header {
        padding: 3px 25px;
        justify-content: space-between;
        align-items: center;
    }

    .profile {
        gap: 4%;
    }

    .profile p {
        font-size: 15px;
    }

    .profile img {
        width: 45px;
        margin-top: 3px;
    }
    .contact-form {
        width: 85%;
        margin: 0 auto;
    }

    .contact-form p {
        font-size: 18px;
        margin-bottom: 30px;
    }
    

    .submit-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        width: 105%;
    }

    footer {
        width: 20%;
        padding:5px;
        gap: 4%;
        border-radius: 35px;
    }
    
}