*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#F8F1F1;
    font-family: 'Source Sans Pro' , sans-serif;
}

.header{
    display: flex;
    padding: 0.3% 4%;
    align-items: center;
    justify-content: space-between;
    background-color: #6B8E8B;
}

.profile{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 3%;
}

.profile p{
    font-size: 16px;
    font-weight: 700;
}


.nav-list{
    display: flex;
    gap: 15px;
}

.nav-list li{
    list-style-type: none;
    background-color: white;
    padding: 4px 0px;
    width: 85px;
    text-align: center;
    border-radius: 5px;
}

.nav-list li a{
    text-decoration: none;
    color: black;
    display: block;
    
}
  
nav ul li.active {
    background-color: black;
}

nav ul li.active a {
    color: white;
}


main{
    text-align: center;
}
.intro{
    margin-top: 2%;
}

.name{
    font-family: 'Merriweather';
    font-size: 40px;
}
.description{
    font-size: 16px;
    font-weight:600;
    margin-top: 20px;
    margin-bottom: 13px;
}

.image-container > img{
    border-radius: 15px;
}

.welcome-message{
    font-size: 18px;
    font-weight: 600;
    margin-top: 8px;
}

footer{
    width:300px;
    height: 48px;
    background-color:#6B8E8B;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    border-radius: 25px;
    margin-bottom: 25px;
}

.hamburger{
    display: none; 
    cursor: pointer;
    font-size: 30px;
  }


.nav-list.hidden {
    display: none;
}


@media only screen and (max-width: 935px) and (orientation: landscape) {
    .header {
        padding: 3px 25px;
        justify-content: space-between;
        align-items: center;
    }

    .profile {
        gap: 4%; 
    }

    .profile p {
        font-size: 14px; 
    }

    .profile img {
        width: 40px;
        margin-top: 3px;
    }

    .nav-list {
        justify-content: center;  
        gap: 15px;                   
        background-color: #6B8E8B;
        position: absolute;
        right: 0;
        top: 54px;
        width: 100%;                
        padding: 15px 0;
        display: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .nav-list.hidden {
        display: flex;
    }

    .hamburger {
        display: block; 
        position: absolute;
        right: 28px;
        padding: 10px ;
        font-size: 25px;  
    }

    
    .name {
        font-size: 30px;
        margin-top: 20px; 
    }

    .description {
        font-size: 15px !important;;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .image-container > img {
        max-width: 80%;    
        border-radius: 12px;
    }


    .welcome-message {
        font-size: 14px;
        font-weight: 600;
        margin-top: 25px;
    }

   
    footer {
        width: 30%;
        padding: 2px;
        gap: 4%; 
        border-radius: 35px;
    }
}


@media only screen and (max-width: 480px) and (orientation: portrait) {
    .header {
        display: flex;
        align-items: center;
        padding: 4px 25px;
        justify-content: space-between;
        position: relative;
    }

    .profile {
        gap: 5px; 
    }

    .profile img{
        width: 40px;
    }
    
    .profile p{
        font-size: 13px;
    }

    .hamburger {
        display: block; 
        position: absolute;
        right: 28px;
        top: 10px;
    }

    .nav-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #6B8E8B;
        position: absolute;
        top: 53px;
        right: 0;
        width: 100%;
        padding: 20px 0;
        display: none; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .nav-list.hidden {
        display: flex; 
    }

    .name {
        font-size: 30px;
        margin-top: 30px; 
    }

    .description {
        font-size: 11px;
        margin-top: 30px;
    }

    .image-container > img {
        max-width: 86%; 
        height: auto; 
        border-radius: 10px;
    }

    .welcome-message{
        font-size: 14px;
        font-weight: 600;
        margin-top: 35px;
    }

    footer {
        width: 60%; 
        padding: 1px; 
        gap: 5%; 
        border-radius: 25px;
    }
}



@media only screen and  (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .header {
        padding: 3px 25px;
        justify-content: space-between;
        align-items: center;
    }

    .profile {
        gap: 4%;
    }

    .profile p {
        font-size: 15px;
    }

    .profile img {
        width: 45px;
        margin-top: 3px;
    }

    .name {
        font-size: 36px;
        margin-top: 40px;
    }

    .description {
        font-size: 24px;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .image-container > img {
        max-width: 70%;
        border-radius: 12px;
    }

    .welcome-message {
        font-size: 20px;
        font-weight: 600;
        margin-top: 55px;
        margin-top: 55px;
    }

    

    footer {
        width: 25%;
        padding: 2px;
        gap: 4%;
        border-radius: 35px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1400px) and (orientation: landscape) {
    .header {
        padding: 3px 25px;
        justify-content: space-between;
        align-items: center;
    }

    .profile {
        gap: 4%;
    }

    .profile p {
        font-size: 15px;
    }

    .profile img {
        width: 45px;
        margin-top: 3px;
    }


    .name {
        font-size: 36px;
        margin-top: 20px;
    }

    .description {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 55px;
    }

    .image-container > img {
        max-width: 50%;
        border-radius: 12px;
    }

    .welcome-message {
        font-size: 22px;
        font-weight: 600;
        margin-top: 25px;
    }

    footer {
        width: 20%;
        padding:5px;
        gap: 4%;
        border-radius: 35px;
    }
}








